# artifacts
dist/
/build/
.cache/
.eslintcache
.vscode/
.idea/
.DS_Store
*.log
*.gz
node_modules

# environment
.env
.env.local
.env.development
.env.production
.env.test

# reports
coverage/
.nyc_output/
git-user-stats.js

# miscellaneous
*.swp
*.swo
Thumbs.db
tree.txt