// src/client/styles/main.scss
@use 'sass:map';
@use 'mtrl/src/styles/themes/baseline';
@use 'mtrl/src/styles/themes/ocean';
@use 'mtrl/src/styles/themes/sunset';
@use 'mtrl/src/styles/themes/forest';
@use 'mtrl/src/styles/themes/spring';
@use 'mtrl/src/styles/themes/summer';
@use 'mtrl/src/styles/themes/autumn';
@use 'mtrl/src/styles/themes/winter';
@use 'mtrl/src/styles/abstract/config' as c;
@use 'mtrl/src/components/button/styles' as button;
@use 'mtrl/src/components/textfield/styles' as textfield;
@use 'mtrl/src/components/menu/styles' as menu;
@use 'mtrl/src/components/switch/styles' as switch;
@use 'mtrl/src/components/checkbox/styles' as checkbox;
@use 'mtrl/src/components/container/styles' as container;
@use 'mtrl/src/components/snackbar/styles' as snackbar;
@use 'mtrl/src/components/navigation/styles' as navigation;
@use 'mtrl/src/components/list/styles' as list;
@use './app';
@use './content';
@use './content/colors';
// CSS Reset & Base Styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include c.motion-transition(background-color, color);
}
