// src/client/styles/playground.scss
@use 'mtrl/src/styles/abstract/base' as b;
@use 'mtrl/src/styles/abstract/variables' as v;
@use 'mtrl/src/styles/abstract/functions' as f;
@use 'mtrl/src/styles/abstract/mixins' as m;
@use 'mtrl/src/styles/abstract/theme' as t;
@use 'mtrl/src/styles/abstract/config' as c;

$components: '#{b.$prefix}-components';

.card-loading-content {
  padding: 16px;
}


.#{$components} {

  max-width: 1024px;
  margin: auto;

  &-grid__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 20px;
  }

  &-flex__container {
    display: flex;
    justify-items: start;
    gap: 20px;
  }

  &__header {
    height: 100px;
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    &__section {
      padding: 24px;
    }
    .#{$components}__box {
      flex: 1;
      height: 100%;
      border-radius: f.get-shape('large');
      gap: 10px;
      background-color: t.color('surface-container');
      &.visual {
        flex: none;
        width: 100px;
        background-color: t.color('secondary');
        margin-left: 10px;
      }
      &.info {
        background-color: t.color('primary');
        color: var(--mtrl-sys-color-on-primary);
        padding: 18px 24px;
        .#{$components}__title {
          @include c.typography('headline-large');
          margin: 0;
        }
      }
    }
  }
  

  &__body {
    margin-right: 200px
  }

  &__navi {
    position: fixed;
    width: 160px;
    right: 20px;
    border-radius: 16px;
    background-color: t.color('surface-container');
    min-height: 200px;

  }


  &__section {
    padding: 0;
    background-color: t.color('surface-container');
    border-radius: f.get-shape('large');
    margin-bottom: 24px;
    &-head {
      padding: 24px;
    }
    &-title {
      margin-bottom: 0
    }
    &-body {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 24px;
      border-radius: 16px;
      background-color: t.color('surface-bright');
      // background-image: url(/public/img/grid-light.png);
      background-position: center;
      border-left: 1px solid rgba(0,0,0,.05);
      border-right: 1px solid rgba(0,0,0,.05);
      border-bottom: 1px solid rgba(0,0,0,.05);
      .#{$components}__section-info {

      }
      &.noflex {
        display: inline-block;
      }
    }

    &-showcase {
      display: flex;
      // grid-template-columns: repeat(3, 1fr);
      // justify-items: start; // Ensure proper alignment
      align-items: start; // Prevents grid items from stretching
      gap: 20px;
      // transform: scale(.85);
      @include c.typography('headline-small');
      color: t.color('on-surface');
      margin: 0 0 16px; 
    }
    &-box {
      // gap: 20px;
      padding: 24px;
      background-color: t.color('surface');
      // background-image: url(/public/img/grid-light.png);
      background-position: center;
      border-radius: 16px;
      border-left: 1px solid rgba(0,0,0,.05);
      border-right: 1px solid rgba(0,0,0,.05);
      border-bottom: 1px solid rgba(0,0,0,.05);
      .#{b.$prefix}-textfield {
        margin-right: 20px;
      }
    }
  }
}

body[data-theme-mode=dark] {
  .#{$components}.components {
    .#{$components}__section {
      &-body, &-box {
        border-left: 1px solid rgba(255,255,255,.03);
        border-right: 1px solid rgba(255,255,255,.03);
        border-bottom: 1px solid rgba(255,255,255,.03);
        background-image: url(/public/img/grid.png);
      }
    }
  }
}