// src/client/styles/content/layout.scss
@use 'mtrl/src/styles/abstract/base' as b;
@use 'mtrl/src/styles/abstract/variables' as v;
@use 'mtrl/src/styles/abstract/functions' as f;
@use 'mtrl/src/styles/abstract/mixins' as m;
@use 'mtrl/src/styles/abstract/theme' as t;

.#{b.$prefix}-list {
  width: 260px;
  height: 500px;
  border: 2px solid t.color('outline-variant');
  border-radius: 3px;
}

.#{b.$prefix}-list--basic {
  width: 260px;
  height: 200px;
  border: 2px solid t.color('outline-variant');
  border-radius: 3px;
}

.#{b.$prefix}-list--small {
  width: 260px;
  height: 500px;
  border: 2px solid t.color('outline-variant');
  border-radius: 3px;
}


.loading-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  color: #666;
  font-size: 14px;
}

.loading-spinner {
  margin-right: 8px;
  animation: spin 1.5s linear infinite;
}

// @keyframes spin {
//   0% { transform: rotate(0deg); }
//   100% { transform: rotate(360deg); }
// }

// users
.#{b.$prefix}-list--users {
  height: 600px;
  width: 320px;
}

.user-item {
  padding: 12px 16px;
  display: flex;
  align-items: start;
  transition: background-color 0.2s ease;
}



.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--mtrl-sys-color-primary-container);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-shrink: 0;
}

.user-details {
  flex: 1;
  min-width: 0;
}

.user-name {
  font-weight: 500;
}

.user-email {
  // color: #666;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// .user-role {
//   color: #757575;
//   font-size: 12px;
//   background-color: #f1f1f1;
//   display: inline-block;
//   padding: 2px 8px;
//   border-radius: 12px;
// }
